{% extends 'trafficdb/base.html' %}

	{% block page_content %}
	
	  <div class="container mt-3">
	    <h2>Next Buses by Bus Stop</h2>
	    {% for arrival in arrivals %}
	      <div class="card mb-0">
	        {% ifchanged arrival.bus_stop %}
	          <div class="card-header">
	            <h3>{{ arrival.bus_stop_name }}</h3>
	          </div>
	        {% endifchanged %}
	        <div class="card-body mb-0">
	          {% ifchanged arrival.service_no %}<span class="badge bg-secondary">{{ arrival.service_no }}</span>{% endifchanged %}
	            {% if arrival.next_bus.Load %}{{ arrival.arrival_next_bus }}{% endif %}
	            {% if arrival.next_bus.Load == 'SEA' %}
	              <span class="badge bg-success"> </span>
	            {% elif arrival.next_bus.Load == 'SDA' %}
	              <span class="badge bg-warning"> </span>
	            {% elif arrival.next_bus.Load == 'LSD' %}
	              <span class="badge bg-danger"> </span>
	            {% endif %}
	            {% if arrival.next_bus_2.Load %}{{ arrival.arrival_next_bus2 }}{% endif %}
	            {% if arrival.next_bus_2.Load == 'SEA' %}
	              <span class="badge bg-success"> </span>
	            {% elif arrival.next_bus_2.Load == 'SDA' %}
	              <span class="badge bg-warning"> </span>
	            {% elif arrival.next_bus_2.Load == 'LSD' %}
	              <span class="badge bg-danger"> </span>
	            {% endif %}
	            {% if arrival.next_bus_3.Load %}{{ arrival.arrival_next_bus3 }}{% endif %}
	            {% if arrival.next_bus_3.Load == 'SEA' %}
	              <span class="badge bg-success"> </span>
	            {% elif arrival.next_bus_3.Load == 'SDA' %}
	              <span class="badge bg-warning"> </span>
	            {% elif arrival.next_bus_3.Load == 'LSD' %}
	              <span class="badge bg-danger"> </span>
	            {% endif %}
	        </div>
	      </div>
	    {% endfor %}
	    <span class="badge bg-success">Seats Available</span><span class="badge bg-warning">Standing Available</span><span class="badge bg-danger">Limited Standing</span>
	  </div>
	  
{% endblock page_content %}
