{% extends "trafficdb/base.html" %}
	{% block page_title %}
<div class="container-lg mt-3 px-xs-0 px-sm-0">
	<div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm bold">
		<h2 class="text-center">Checkpoint Jam or Not?</h2>
	</div>
	{% endblock page_title %}
	{% block page_content %}
	<div class="container my-5">
		<div class="row">
			<div class="col-12">
				<h2 class="text-center mb-4">Privacy Policy</h2>
				<p class="text-justify">
					This page is to inform visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use this Service.
					<br/> <br/>
			        The information contained on this website is for general information purposes only and at no charge.
			        <br/> <br/>
			        If you choose to use this Service, you are deemed to have agreed to the collection, use and disclosure of Personal Information to faciliate the provision of this Service.
			        All information provided is therefore strictly at your own risks.
    			</p>
    			<h2 class="text-center mb-4">Collection and use of info</h2>
    			<p class="text-justify">
					In order to provide the use of this Service, we may require you to provide us with certain Personally Identifiable Information. We do not actively or knowingly collect data for any demographics.
					<br/><br/>
					We also use the following hosting and third party services to that may collect information such as cookies, IP addresses and more to identify you and their privacy policy where available are linked for your review.
					<ul>
						<li><a href="https://www.pythonanywhere.com/privacy_v2/">PythonAnywhere</a></li>
						<li><a href="https://policies.google.com/privacy?hl=en">Google Adsense/ ReCaptcha</a></li>
						<li><a href="https://ip-api.com/docs/legal">IP API</a></li>
					</ul>
    			</p>
    			<h2 class="text-center mb-4">Data Accuracy</h2>
				<p class="text-justify">
    			The information is crowdsourced from the fellow users of this website and while we endeavor to keep the information up to date and correct,
			        we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability,
			        suitability or availability with respect to the website or the information, products, services, or related graphics contained
			        on the website for any purpose.
			        <br/> <br/>
			    </p>
			</div>
		</div>
	</div>
</div>
{% endblock page_content %}
