{% extends "trafficdb/base.html" %}
{% block page_title %}
<div class="container-lg mt-3 px-xs-0 px-sm-0">
	<div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm bold"><h2 class="text-center">Checkpoint Jam or Not?</h2></div>
	<p class="text-center mb-3">Help your fellow commuters by updating the status!</p>
</div>
{% endblock page_title %}
{% block page_content %}
<div class="card px-1">
	<h2 class="card-header bg-purple text-white d-flex justify-content-between align-items-center">
		{{ queue.queueName }}
		{% if queue_status %}
		<button type="button" class="btn {{ queue_status.queueLength.queueColor }}">{{ queue_status.queueLength }}</button>
		{% else %}
		<button type="button" class="btn btn-light">No data</button>
		{% endif %}
	</h2>
	<div class="card-body">
		<h5 class="border-bottom pb-2 mb-0">Incorrect? Update it here!</h5>
		<div class="d-flex text-muted pt-3 border-bottom">
			<p class="pb-3 mb-0 small lh-sm card-text">
				<form method="post" class="form">
					{% csrf_token %}
					<div class="mb-3">
						{{ form.as_p }}
					</div>
					<button type="submit" class="btn btn-primary">Update Status</button>
					<br/><br/>
				</form>
			</p>
		</div>
		<h5 class="pb-2 mb-0">{% if queue_status %} Last update at {{ queue_status.createdTime }} {% endif %}</h5>
	</div>
</div>
<a href="{% url 'trafficdb:index' %}" class="btn btn-secondary mt-3">Back to Dashboard</a>
{% endblock page_content %}
